.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cat-name {
  font-family: "Kaushan Script", cursive;
  font-size: 2.3em;
  padding-bottom: 0.4em;
}

.card-box {
  padding: 1em 1em;
  margin-bottom: 1em;
  border: 1px solid white;
  border-radius: 0.6em;
}

.card-box:hover {
  padding: 1em 1em;
  margin-bottom: 1em;
  border: 1px solid red;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1.1em;
}

.item-title {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
}

span.item {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  color: red
}

.btn-container {
  padding-bottom: 1em;
}

.bttn {
  background-color: gray;
}

p {
  margin: 0;
  padding: 0;
}

.price {
  padding: 0.5em 0;
}
