.App {
  text-align: center;
  background-color: black;
  color: white;
}

html {
  width: 100%;
  height: 100%;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ******************************* */
/* ***** Make the text flash ***** */
/* ******************************* */

.page-title {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  color: rgb(162, 36, 36);
  padding-top: 0.4em;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ******************************* */
/* ******************************* */
/* ******************************* */

.cat-name {
  font-family: "Kaushan Script", cursive;
  font-size: 2.3em;
  padding-bottom: 0.4em;
}

.card-box {
  padding: 1em 1em;
  margin-bottom: 1em;
  border: 1px solid white;
  border-radius: 0.6em;
  /* background-color: white;
  color: black; */
}

.card-box:hover {
  padding: 1em 1em;
  margin-bottom: 1em;
  border: 1px solid red;
  border-radius: 0.6em;
  cursor: pointer;
}

.item-title {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
}

span.item {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  color: red;
}

.item-container {
  border: 1px dotted white;
  padding: 1.4em;
  margin: 1em;
  border-radius: 3em;
}

.btn-container {
  padding: 1em 0;
}

.bttn {
  background-color: gray;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Kaushan Script", cursive;
  color: white;
}

.price {
  font-size: 1.4em;
}

.price-div {
  padding: 0 0 2em 0;
}

.fine-print {
  padding-bottom: 1em;
}

.form-div {
  padding: 2em 1em;
  border: 1px solid white;
  border-radius: 5em;
  margin: 2em 0 2em 0;
}
